#aman{
    text-align: center;
    font-size: 4rem;
    color: yellow;

}
#aman1{
    text-align: center;
    

}
.b{
    padding: 20px ;
    color: red;
    background-color: rgba(172, 255, 47, 0.603);
    border-radius: 10px;
    

}
.b:hover{
    background-color: rgb(137, 223, 8);
}
.carousel-item img{
    height: 1000px;
    width: 1000px;
}

#from{

font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

/* calculator css */
.main-calculater{
    max-width: 600px;
    margin: 50px auto;
}

#keybutton{
    background-color: black;
    width: 400px;
    padding: 30px;
    border-radius: 15px;
    
}
#display{
    width: 390px;
    height:55px;
    border: none;
    margin-bottom: 20px;
    color: whitesmoke;
    background-color: rgba(153, 205, 50, 0.336);
    border-radius: 20px;
    font-size: 30px;
    padding-left: 1rem;

}
#buttonnumber{
    
    display: grid;
    
    grid-template-columns: repeat(4,1fr);
    cursor: pointer;
    gap: 20px;
    
    
}
button{
    font-size: 30px;
    background-color: red;
    border: none;
    border-radius: 50px;
    
    

}
button:hover{
    background-color: rgba(240, 248, 255, 0.623);
}
.buttoncolor{
    background-color: yellow;


}
.buttoncolor:hover{
    background-color: rgb(167, 248, 4);
}


.f{
    background-color: black;
    color:yellow;
    
}

/* counter program */

.b{
    width: 100px;
    color: black;
    font-size: 20px;


}
p{
    text-align: center;
    font-size: 30px;
}