$prefix: "ecom-" !default;
$primary: #754ffe !default;
$secondary: #64748b !default;
$success: #38a169 !default;
$info:  rgb(4, 13, 92)  !default;
$warning: #f59e0b !default;
$danger: #dc2626 !default;
$light: #94a3b8 !default;
$dark: #0f172a !default;




// $theme-colors: (
//     "light":      #cad1d7,
//     "dark":       #160e22,
//     "primary":    #023ea4,
//     "secondary":  #ec0031,
//     "info":       #ff209e,
//     "success":    #00a15c,
//     "warning":    #e1ca00,
//     "danger":     #f01900,
// );
